<!-- <div class="container-info">
  <h1 class="mat-headline-small">Che cos'è NgRx?</h1>
  <p>
    <em
      >NgRx è un framework per la creazione di applicazioni reattive in
      Angular.</em
    >
  </p>

  <button mat-icon-button class="btn-portal-close" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>

  <p>
    E' costituito da una serie di pacchetti con scopi specifici. Per saperne di
    più vai al sito del team
    <a mat-stroked-button href="https://ngrx.io/">NgRx</a>.
  </p>

  <p>
    Angular nelle ultime versioni (a partire dalla 16 - siamo attualmente alla
    18) ha rilasciato una nuova funzionalità: <em><b>signals</b></em
    >.
  </p>

  <p>
    Consulta
    <a
      mat-stroked-button
      href="https://blog.angular-university.io/angular-signals/"
      >Angular University - Signals</a
    >.
  </p>
  <p></p>
  <p>
    Il team NgRx ha prodotto il pacchetto <b>&#64;ngrx/signals</b> per una
    gestione professionale dei segnali.
  </p>
  <p>
    Questa pagina è raccontata nel video:
    <a mat-stroked-button href="https://www.youtube.com/watch?v=ZlcL0dQvh-U"
      >Angular Signals Game Changer: NgRx Signal State</a
    >
  </p>
</div> -->

<div class="container">
  <h2 mat-dialog-title class="mat-headline-small">
    Interoperabilità &#064;ngrx/signals con rxjs
  </h2>

  <p>
    Questa è una reinterpretazione dell'esempio Todos diffuso in rete dopo aver
    affrontato l'articolo
    <a mat-button href="https://ngrx.io/guide/signals/rxjs-integration"
      >RxJS Integration</a
    >
  </p>

  <p>
    In questo esempio viene mostrato un paradigma completo con interoperabilità
    con servizio http rxjs. ( gli esempi, in maggioranza, utilizzano Promise
    async/await.
  </p>
</div>
