.container {
  // border: 1px solid blue;
  max-width: 640px;
  text-align: center;
  margin: 0 auto;

  mat-tab-group {
    margin: 1.5rem;

    .mat-mdc-tab-body-content {
      border: 1px solid red;
      padding: 1.5rem;
    }

    .container-count {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      margin-block: 1rem;
    }
  }
  .comments {
    text-align: left;
  }
}
