<p>
  NgRx Signals è una libreria autonoma che fornisce una soluzione di gestione
  dello stato reattivo e un set di utilità per <b>Angular Signals.</b>
</p>

<h3 class="mat-headline-small">Caratteristiche principali</h3>
<ul>
  <li>
    <b>SignalStore</b>: una soluzione di gestione dello stato completa che
    fornisce supporto nativo per Angular Signals e offre un modo efficace per
    gestire lo stato dell'applicazione.
  </li>
  <li>
    <b>SignalState</b>: un'utilità leggera per gestire lo stato basato sul
    segnale nei componenti e nei servizi Angular in modo conciso e minimalista.
  </li>
  <li>
    <b>Integrazione RxJS</b>: un plugin per l'integrazione opt-in con RxJS, che
    consente una gestione più semplice degli effetti collaterali asincroni.
  </li>
  <li>
    <b>Entity Management</b>: un plugin per manipolare e interrogare raccolte di
    entità in modo semplice ed efficiente.
  </li>
</ul>
