<div class="container">
  <mat-list>
    @for(pokemon of data(); track pokemon){
    <mat-list-item>
      <span>{{ pokemon }}</span>
    </mat-list-item>
    }
  </mat-list>

  <div class="content">
    <mat-form-field appearance="fill">
      <mat-label>digita email e premi Invio</mat-label>
      <input
        matInput
        #input
        (keyup.enter)="onSubscribe(input.value); input.value = ''"
      />
      <mat-hint>Iscriviti al campionato</mat-hint>
    </mat-form-field>

    <button mat-raised-button (click)="refresh()">Refresh Manuale</button>
  </div>

  <mat-divider />

  <div class="comments">
    <p>
      Il rilevatore dei cambiamenti "OnPush" non si attiva la lista nel parent è
      stata aggiornata col metodo push che non modifica il riferimento all'array
      di input. L'attivazione del rilevatore può avvenire o semplicemente
      interagendo col componente (esempio focus nell'input email) o utilizzando
      detectChanges di ChangeDetectorRef.
    </p>
  </div>
</div>
