:root {
  --sys-background: #12140d;
  --sys-on-background: #e3e3d7;
  --sys-surface: #12140d;
  --sys-surface-dim: #12140d;
  --sys-surface-bright: #383a32;
  --sys-surface-container-lowest: #0d0f08;
  --sys-surface-container-low: #1b1c15;
  --sys-surface-container: #1f2019;
  --sys-surface-container-high: #292b23;
  --sys-surface-container-highest: #34362d;
  --sys-on-surface: #e3e3d7;
  --sys-surface-variant: #46483c;
  --sys-on-surface-variant: #c6c8b8;
  --sys-inverse-surface: #e3e3d7;
  --sys-inverse-on-surface: #303129;
  --sys-outline: #909284;
  --sys-outline-variant: #46483c;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #bdce80;
  --sys-primary: #bdce80;
  --sys-on-primary: #293500;
  --sys-primary-container: #3e4c0b;
  --sys-on-primary-container: #d9eb9a;
  --sys-inverse-primary: #566423;
  --sys-secondary: #bccf81;
  --sys-on-secondary: #293500;
  --sys-secondary-container: #3e4c0c;
  --sys-on-secondary-container: #d8eb9a;
  --sys-tertiary: #83d5c6;
  --sys-on-tertiary: #003730;
  --sys-tertiary-container: #005047;
  --sys-on-tertiary-container: #9ff2e2;
  --sys-error: #ffb4ab;
  --sys-on-error: #561e19;
  --sys-error-container: #73342d;
  --sys-on-error-container: #ffdad5;
  --sys-neutral: #77786e;
  --sys-neutral-variant: #76786a;
  --sys-primary-fixed: #d9eb9a;
  --sys-primary-fixed-dim: #bdce80;
  --sys-on-primary-fixed: #171e00;
  --sys-on-primary-fixed-variant: #3e4c0b;
  --sys-secondary-fixed: #d8eb9a;
  --sys-secondary-fixed-dim: #bccf81;
  --sys-on-secondary-fixed: #171e00;
  --sys-on-secondary-fixed-variant: #3e4c0c;
  --sys-tertiary-fixed: #9ff2e2;
  --sys-tertiary-fixed-dim: #83d5c6;
  --sys-on-tertiary-fixed: #00201c;
  --sys-on-tertiary-fixed-variant: #005047;
  --sys-inverse-secondary: #556423;
  --sys-inverse-tertiary: #006b5e;
  --sys-inverse-error: #904a43;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
