:root {
  --sys-background: #fafaee;
  --sys-on-background: #1b1c15;
  --sys-surface: #fafaee;
  --sys-surface-dim: #dbdbcf;
  --sys-surface-bright: #fafaee;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f5f4e8;
  --sys-surface-container: #efefe2;
  --sys-surface-container-high: #e9e9dd;
  --sys-surface-container-highest: #e3e3d7;
  --sys-on-surface: #1b1c15;
  --sys-surface-variant: #e3e4d3;
  --sys-on-surface-variant: #46483c;
  --sys-inverse-surface: #303129;
  --sys-inverse-on-surface: #f2f1e5;
  --sys-outline: #76786b;
  --sys-outline-variant: #c6c8b8;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #566423;
  --sys-primary: #566423;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #d9eb9a;
  --sys-on-primary-container: #3e4c0b;
  --sys-inverse-primary: #bdce80;
  --sys-secondary: #556423;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #d8eb9a;
  --sys-on-secondary-container: #3e4c0c;
  --sys-tertiary: #006b5e;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #9ff2e2;
  --sys-on-tertiary-container: #005047;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #73342d;
  --sys-neutral: #77786e;
  --sys-neutral-variant: #76786a;
  --sys-primary-fixed: #d9eb9a;
  --sys-primary-fixed-dim: #bdce80;
  --sys-on-primary-fixed: #171e00;
  --sys-on-primary-fixed-variant: #3e4c0b;
  --sys-secondary-fixed: #d8eb9a;
  --sys-secondary-fixed-dim: #bccf81;
  --sys-on-secondary-fixed: #171e00;
  --sys-on-secondary-fixed-variant: #3e4c0c;
  --sys-tertiary-fixed: #9ff2e2;
  --sys-tertiary-fixed-dim: #83d5c6;
  --sys-on-tertiary-fixed: #00201c;
  --sys-on-tertiary-fixed-variant: #005047;
  --sys-inverse-secondary: #bccf81;
  --sys-inverse-tertiary: #83d5c6;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
