:host {
  .container {
    // border: 1px solid blue;
    max-width: 768px;
    margin: 0 auto;
    padding: 1.5rem;

    .area-running {
      padding: 1.5rem;
      background-color: var(--sys-primary);
      color: var(--sys-on-primary);
    }
  }
}
