<div class="container">
  <mat-list>
    @for(pokemon of data(); track pokemon){
    <mat-list-item>
      <span>{{ pokemon }}</span>
    </mat-list-item>
    }
  </mat-list>

  <div class="content">
    <mat-form-field appearance="fill">
      <mat-label>digita email e premi Invio</mat-label>
      <input
        matInput
        #input
        (keyup.enter)="onSubscribe(input.value); input.value = ''"
      />
      <mat-hint>Iscriviti al campionato</mat-hint>
    </mat-form-field>
  </div>

  <mat-divider />

  <div class="comments">
    <p>
      Il rilevatore dei cambiamenti se settato OnPush si attiva solo se è
      rispettata la condizione di cambio del riferimento dell' oggetto ( nel
      nostro caso dell'array)'.
    </p>
    <p>
      Cambio di riferimento significa effettuare una copia dell'array e ciò si
      ottine con l'operatore spread sull'array.
    </p>
  </div>
</div>
