<mat-toolbar>Menu</mat-toolbar>

<div class="container">
  <h1 class="title-group">Change Detection</h1>
  <mat-nav-list>
    @for(link of linksDetection; track link.routerLink ){
    <a mat-list-item [routerLink]="link.routerLink"
      ><span>{{ link.title }}</span></a
    >
    }
  </mat-nav-list>

  <h1 class="title-group">Signals Base</h1>
  <mat-nav-list>
    @for(link of linksSignal; track link.routerLink ){
    <a mat-list-item [routerLink]="link.routerLink"
      ><span>{{ link.title }}</span></a
    >
    }
  </mat-nav-list>

  <h1 class="title-group">Ngrx Signals</h1>
  <mat-nav-list>
    @for(link of linksNgrxSignals; track link.routerLink ){
    <a mat-list-item [routerLink]="link.routerLink"
      ><span>{{ link.title }}</span></a
    >
    }
  </mat-nav-list>

  <h1 class="title-group">Material</h1>
  <mat-nav-list>
    @for(link of linksMaterial; track link.routerLink ){
    <a mat-list-item [routerLink]="link.routerLink"
      ><span>{{ link.title }}</span></a
    >
    }
  </mat-nav-list>
</div>
